# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
.terraformrc
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
*.tfplan
.tfplan

# Variaveis locais
*.auto.tfvars
*.auto.tfvars.json
.env
.env.*

# Arquivos de cache
.DS_Store
*.swp
*.swo

# Logs
*.log

# IDE
.vscode/
.idea/
*.iml

# Secretos e Chaves (Seguranca Critica)
jwt_private.pem
jwt_public.pem
*.pem
*.key
*.csv
*oidc-role-arn.txt
*accessKeys*
*credentials*
aws_access_key_id.txt
aws_secret_access_key.txt
.env*
!backend/crates/player-state/.env.example